/* You can add global styles to this file, and also import other style files */
@font-face {font-family: "ExcellenceBold";
    src: url("assets/ExcellenceInMotion_Bold.woff") format("woff"),
    url("assets/ExcellenceInMotion_Bold.ttf") format("truetype");
}
@font-face {font-family: "ExcellenceMedium";
    src: url("assets/ExcellenceInMotion_Medium.woff") format("woff"),
    url("assets/ExcellenceInMotion_Medium.ttf") format("truetype");
}
@font-face {font-family: "ExcellenceRegular";
    src: url("assets/ExcellenceInMotion_Regular.woff") format("woff"),
    url("assets/ExcellenceInMotion_Regular.ttf") format("truetype");
}
@font-face {font-family: "ExcellenceThin";
    src: url("assets/ExcellenceInMotion_Thin_V4_h.woff") format("woff"),
    url("assets/ExcellenceInMotion_Thin_V4_h.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
header {
    background-image: url('assets/af_pattern_bg.png');
    background-repeat: repeat-x;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    font-family: ExcellenceThin;
    font-size: 22px;
    text-transform: uppercase;
}
section{
    border-width: 1px;
    border-color: #003145;
    border-style: solid;
    display: block;
    width: 400px;
    margin: auto;
    padding: 30px;

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    font-family: ExcellenceBold;
    font-size: 32px;
    color: #003145;
    text-align: center;
    text-transform: uppercase;
}
h2{
    font-family: ExcellenceRegular;
    font-size: 16px;
    color: #003145;
    text-align: left;
}
.control-label{
    font-family: ExcellenceMedium;
    color: #003145;
    font-size: 16px;
}
.submit-btn{
    background: #d40504;
    width: inherit;
    margin: 10px auto;
    color: #ffffff;
    font-family: ExcellenceThin;
    font-size: 18px;
}